<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ESource</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" />
</head>

<body>
    <div class="container mt-5 pt-4 mb-5 pb-4">
        <div class="text-center">
            <h1>Bem-vindo ao ESource</h1>
            <h3>Seu portal para eventos e artigos científicos voltados para Engenharia de Software(ES).</h3>
        </div>

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portal:artigos' %}">Artigos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portal:eventos' %}">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true">Autores</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h2 class="card-title">Autores</h2>
                <table class="table table-hover table-striped align-middle">
                    <thead>
                        <tr>
                            <th  style="width: 40%">Nome</th>
                            <th  style="width: 30%">Citação</th>
                            <th  style="width: 10%">Instituição</th>
                            <th  style="width: 20%">Unidade Federativa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for autor in autores %}
                        <tr>
                            <td class="fw-bold text-dark">{{ autor.nome }}</td>
                            <td>{{ autor.citacao }}</td>
                            <td>{{ autor.instituicao }}</td>
                            <td>{{ autor.unidade_federativa }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Citação</th>
                            <th>Instituição</th>
                            <th>Unidade Federativa</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>

</html>